body{
  font-family: 'titillium web', sans-serif;
}

#testimonial{
  background-color: #f1f1f1;
  padding: 50px 0 30px p;
  text-align: center;
  margin-top: 40px;
}

.container-costum{
  width: 1000px;
  max-width: 90%;
  margin: 0 auto;
}

#header{
  margin-top: 90px;
}

footer{
  background-image: url(../img/smartphones.png);
  background-position: center;
  background-size: cover;
}
